@model IEnumerable<FrontEnd.Models.UbicacionProductoViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUbicacionProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreUbicacionProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionUbicacionProducto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdUbicacionProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUbicacionProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescripcionUbicacionProducto)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IdUbicacionProducto }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IdUbicacionProducto }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdUbicacionProducto })
            </td>
        </tr>
}
    </tbody>
</table>
